[package]
name = "xdg-desktop-portal-luminous"
version = "0.1.8"
edition = "2021"

[workspace]
members = ["libs/screenshotdialog", "libs/accessdialog", "."]

[dependencies]
screenshotdialog = { path = "libs/screenshotdialog" }
accessdialog = { path = "libs/accessdialog" }

zbus = { version = "5", default-features = false, features = [
	"tokio",
	"url",
] }
tokio = { version = "1.43.0", features = ["full"] }
serde = { version = "1.0.217", features = ["derive"] }
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
url = { version = "2.5", features = ["serde"] }
serde_repr = "0.1"
image = { version = "0.25", default-features = false, features = [
	"jpeg",
	"png",
	"pnm",
	"qoi",
] }

bitflags = "2.8.0"
enumflags2 = "0.7.11"
anyhow = "1.0.95"

# pipewire
pipewire = "0.8.0"
libspa-sys = "0.8.0"

libwayshot = { version = "0.3.0" }
rustix = { version = "0.38.44", features = ["fs", "use-libc"] }

# REMOTE
wayland-protocols = { version = "0.32.6", default-features = false, features = [
	"unstable",
	"client",
] }

wayland-protocols-wlr = { version = "0.3.6", default-features = false, features = [
	"client",
] }
wayland-client = { version = "0.31.8" }

wayland-protocols-misc = { version = "0.3.6", features = ["client"] }
xkbcommon = "0.8.0"
tempfile = "3.16.0"
thiserror = "2.0.11"
toml = "0.8.20"
csscolorparser = "0.7.0"
notify = "8.0.0"
futures = "0.3.31"
libwaysip = "0.2.7"
